@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 26px;
  font-size: 16px;
  color: #FFFFFF;
  scroll-behavior: smooth;
}

body {
  max-width: 1770px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 24px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  width: 228px;
  height: 63px;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #5474FD), color-stop(50%, #496BFE)) right;
  background: linear-gradient(to left, #5474FD 50%, #496BFE 50%) right;
  background-size: 200%;
  -webkit-transition: .5s ease-out;
  transition: .5s ease-out;
  border: none;
  background-color: #5474FD;
  background-image: url(./assets/pictures/Rectangle.svg);
}

button:hover {
  background-position: left;
  -webkit-box-shadow: 1px 1px 5px 2px black;
          box-shadow: 1px 1px 5px 2px black;
}

button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Bhromaon {
  background-image: url(./assets/pictures/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 821px;
}

.logo {
  margin-top: 264px;
  text-align: center;
}

.search {
  width: 652.5px;
  height: 63px;
  background-color: white;
}

.search:hover {
  -webkit-box-shadow: 3px 3px 8px black;
          box-shadow: 3px 3px 8px black;
}

.search > input {
  color: black;
  text-align: center;
  border: none;
  width: 493px;
  height: 59px;
}

.search > input:focus {
  outline: none;
}

.search > button {
  height: 63px;
  width: 154px;
  background-color: #5474fd;
  /* border: 1px solid #FFFFFF; */
}

.poshuk {
  color: #FFFFFF;
}

.scroll {
  text-align: center;
}

.header_foot {
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #5474fd;
  width: 100%;
}

.menu > a {
  padding-right: 8px;
  padding-left: 8px;
}

.why_choose_us {
  background-image: url(./assets/pictures/background2.png);
  height: 100%;
  max-height: 685px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose_us_text {
  margin-right: 50px;
  width: 560px;
}

.choose_us_text > h2 {
  padding-bottom: 30px;
}

.choose_us_text > p {
  padding-top: 15px;
  padding-bottom: 15px;
}

.choose_us_text > button {
  margin-top: 30px;
}

.choose_us_pictures {
  margin-left: 50px;
  width: 430px;
}

.mountains {
  margin-left: 70px;
}

.how_it_works {
  background-color: #333333;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  text-align: center;
}

.search_icon {
  color: #5474FD;
  font-size: 56px;
  padding: 10px;
}

.check_icon {
  color: #FF6363;
  font-size: 56px;
  padding: 10px;
}

.thumb_up {
  color: #00A2FF;
  font-size: 56px;
  padding: 10px;
}

.curve {
  width: 300px;
  height: 170px;
  border: solid 1px #FFFFFF;
  border-color: #FFFFFF transparent transparent transparent;
  border-radius: 50%/170px 170px 0 0;
}

.offer1 {
  background-image: url(./assets/pictures/background3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textbox-1 {
  height: 374px;
  width: 543px;
  background-color: #232323;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  opacity: 90%;
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.offer2 {
  background-image: url(./assets/pictures/background4.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  max-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.textbox-2 {
  height: 374px;
  width: 543px;
  background-color: #232323;
  margin-top: 15%;
  margin-bottom: 15%;
  margin-right: 20%;
  opacity: 90%;
  padding: 50px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Testimonial {
  background-image: url(./assets/pictures/background5.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Testimonial > h2 {
  margin-bottom: 9%;
}

.mini_feedback {
  background-color: #333333;
  height: 100%;
  max-height: 287px;
  width: 100%;
  max-width: 1045px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text_feedback {
  text-align: left;
}

.text_feedback > h3 {
  margin: 30px;
}

.text_feedback > p {
  margin: 30px;
}

.fa-quote-left {
  color: #5474FD;
  font-size: 36px;
}

footer {
  background-color: #232323;
  height: 271px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ending {
  text-align: center;
}

.svg_box {
  padding: 10px;
}

.svg_box > a {
  text-decoration: none;
  padding: 8px;
}

.sprite {
  width: 16px;
  height: 16px;
  padding: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sprite:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}
/*# sourceMappingURL=style.css.map */